.sendMail {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid whitesmoke;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendMail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: 0;
}

.header {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.header > h3 {
    color: whitesmoke;
    font-size: 13px;
}

.closeIcon:hover {
    cursor: pointer;
}

.textarea {
    flex: 1;
}

.sendBtn {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 16px !important;
}

.error {
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
}
